@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

/* Fonts */
$family-primary: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;
$family-monospace: "Fira Code";
$family-secondary: $family-monospace;

/* Colors */
$grey-lightest: hsl(0, 0%, 93%);
$primary: $grey-lightest;
// $title-color: $white;
// $body-color: $white;
// $body-background-color: #2b2d42;

$navbar-height: 2.25rem;

@import "bulma/bulma";
